.containerGerador {
  width: 50%;
  background-color: cornflowerblue;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  border-radius: 5px;

  input {
    padding: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.load {
  width: 50%;
  background-color: cornflowerblue;
  position: relative;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;

  progress {
    padding: 50px;
    width: 600px;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cpfContainer {
  background-color: cornflowerblue;
  width: 50%;
  margin: auto;
  padding: 30px;
  margin-top: 10px;
  color: black;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}
